{% extends 'layout.html' %}

{% block body %}
    <div><h1>Contact</h1><hr><br></div>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        {{ render_field(form.name, class_="form-control") }}
        {{ render_field(form.email, class_="form-control") }}
        {{ render_field(form.subject, class_="form-control") }}
        {{ render_field(form.message, class_="form-control") }}

        <div>
          <button type="submit" class="btn btn-primary btn-block mb-lg-3">Submit</button><br><br>
        </div>

    </form>
{% endblock %}