{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron">
        <div class="text-center">
            <h1>Ready to flippit?</h1>
            <p class="lead">Join the flippin community and what you want cheaper than everyone else.</p>
        </div>
        <div class="text-center">
            <a class="btn btn-lg btn-primary btn-success" href="/register" role="button">Join Now</a>
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Buy it.</h2>
            <h2><span class="text-muted">Lowest Price Guaranteed</span></h2>
            <p class="lead">Whether it be cellphones, laptops, or lawn mowers, we will find it all for the lowest price. Guaranteed. Our team of robots scours the internet to find the best price for every conceivable product and sends the information all to you! No one else.</p>
        </div>
        <div class="col-md-5">
            <img src="static/img/pay-per-click.svg" />
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Flip it.</h2>
            <h2 class="featurette-heading"><span class="text-muted">You can hustle too</span></h2>
            <p class="lead">Uber. AirBNB. Twitch "streaming". Everyone has a hustle these days and so can you. Use the flippin system to find products to resell. No digging through thrifts stores or garage sales. No waiting in line 8 hours for sneakers. Just use flippin.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="static/img/meeting.svg" />
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Profit.<span class="text-muted"></span></h2>
            <h2><span class="text-muted">More than just beer money</span></h2>
            <p class="lead">Reselling or "flippin" is one of the faster growing part-time and full-time jobs. Use flippin to make more, faster, than everyone else. Not only will get access to everything faster and cheap than everyone else, you will get guides and tutorials on how to do it better than everyone else. Don't how to haggle? Don't know where to resell? Don't worry. We got you covered.</p>
        </div>
        <div class="col-md-5">
            <img src="static/img/money.svg" />
        </div>
    </div>

{% endblock %}