{% extends 'layout.html' %}

{% block body %}
    <h1>Items for: {{ session.city_name }}</h1>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#items').DataTable();
    } );
    </script>

    <table id="items" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Profit</th>
                <th>Resell Price</th>
                <th>Url</th>
                <th>Scan Date</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.profit }}</td>
                <td>{{ item.resell_price }}</td>
                <td><a href={{ item.url }}>{{ item.source }}</a></td>
                <td>{{ item.scan_date.strftime("%Y-%m-%d") }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Profit</th>
                <th>Resell Price</th>
                <th>Url</th>
                <th>Scan Date</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}