{% extends 'layout.html' %}

{% block body %}
    <div><h1>Register</h1><hr><br></div>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        {{ render_field(form.username, class_="form-control") }}
        {{ render_field(form.city, class_="form-control") }}
        {{ render_field(form.email, class_="form-control") }}
        {{ render_field(form.first, class_="form-control") }}
        {{ render_field(form.last, class_="form-control") }}
        {{ render_field(form.password, class_="form-control") }}
        {{ render_field(form.confirm, class_="form-control") }}

        <div>
          <button type="submit" class="btn btn-primary btn-block mb-lg-3">Submit</button><br><br>
        </div>

    </form>
{% endblock %}